<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            	<div class="row">
            		<div class="col-xs-9 col-md-9 col-lg-10">
		    			<i class="fa fa-clock-o fa-fw"></i> Historia Clínica
		    		</div>
		    		<div class="col-xs-3 col-md-3 col-lg-2">
						<div class="dropdown">
						  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						    Agregar Evento
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li><a href="{% url 'clinic:register_consult' patient.pk %}">Consulta</a></li>
						    <li><a href="{% url 'clinic:register_vaccine' patient.pk %}">Vacuna</a></li>
						    <li><a href="{% url 'clinic:register_deworming' patient.pk %}">Desparasitación</a></li>
						    <li><a href="{% url 'clinic:register_complementary' patient.pk %}">Método Complementario</a></li>
						    <li><a href="#">Análisis Clínicos</a></li>
						  </ul>
						</div>
					</div>
				</div>
    		</div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Historia" data-toggle="tab">H.C.</a>
                    </li>
                    <li><a href="#Vacunas" data-toggle="tab">Vacunas</a>
                    </li>
                    <li><a href="#Desparasitaciones" data-toggle="tab">Desparasitaciones</a>
                    </li>
                    <li><a href="#Complementarios" data-toggle="tab">Complementarios</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="Historia">
                        <ul class="timeline">
				            {% for medicalrecord in patient.history.all reversed %}
				            <li>
				                <div class="timeline-badge"><i class="fa fa-stethoscope"></i>
				                </div>
				                <div class="timeline-panel">
				                    <div class="timeline-heading">
				                        <h4 class="timeline-title">Consulta</h4>
				                        <p><small class="text-muted"><i class="fa fa-clock-o"></i> {{ medicalrecord.date }}</small></p>
				                    </div>
				                    <div class="timeline-body">
                                <strong>Motivo de Consulta: </strong>{{ medicalrecord.motive }}<br>
				                        <strong>Temperatura: </strong>{{ medicalrecord.temp }}<br>
                                <strong>Fc: </strong>{{ medicalrecord.fc }}<br>
                                <strong>Fr: </strong>{{ medicalrecord.fe }}<br>
                                <strong>TLLC: </strong>{{ medicalrecord.tllc }}<br>
				                        <strong>Anamnesis: </strong>{{ medicalrecord.anamnesis }}<br>
				                        <strong>Exámen: </strong>{{ medicalrecord.exam }}<br>
				                        <strong>Diagnósticos: </strong>{{ medicalrecord.diagnostic }}<br>
				                        <strong>Indicaciones: </strong>{{ medicalrecord.tto }}<br>
				                        <strong>Adjuntos: </strong>{{ medicalrecord.attached }}<br>
				                    </div>
				                </div>
				            </li>
				            {% endfor %}
				        </ul>
                    </div>
                    <div class="tab-pane fade" id="Vacunas">
                        <table class="table table-hover">
      				            <thead>
      				                <tr>
      				                    <th width="20%">Tipo</th>
      				                    <th width="20%">Marca</th>
      				                    <th width="20%">Fecha Aplicación</th>
      				                    <th width="20%">Vencimiento</th>
      				                    <th width="10%">Próxima</th>
      				                    <th width="10%">Acciones</th>

      				                </tr>
      				            </thead>
      				            <tbody>
      				            {% for vaccine in patient.vaccine.all %}
      				            	<tr>
      				            		<td><span class="label label-primary">{{ vaccine.vac_type }}</span></td>
      				            		<td>{{ vaccine.marca }}</td>
      				            		<td>{{ vaccine.date }}</td>
      				            		<td>{{ vaccine.expire_date }}</td>
      				            		<td>{{ vaccine.next_vac }}</td>
      				            		<td>
      				            			<a href="#"><i class="fa fa-trash fa-fw"></i></a>
      				            			<i class="fa fa-check fa-fw"></i>
      				            		</td>
      				            	</tr>
      				            {% endfor %}
      				            </tbody>
      				          </table>
                    </div>
                    <div class="tab-pane fade" id="Desparasitaciones">
                      <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="30%">Producto</th>
                                <th width="20%">Fecha</th>
                                <th width="40%">Posologia</th>
                                <th width="10%">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for deworming in patient.deworming.all %}
                          <tr>
                            <td><span class="label label-primary">{{ deworming.name }}</span></td>
                            <td>{{ deworming.date }}</td>
                            <td>{{ deworming.dose}}</td>
                            <td>
                              <i class="fa fa-trash fa-fw"></i>
                              <i class="fa fa-check fa-fw"></i>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="Complementarios">
                      <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="15%">Fecha</th>
                                <th width="30%">Nombre</th>
                                <th width="45%">Descripción</th>
                                <th width="10%">Adjunto</th>
                                <th width="10%">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for complementary in patient.complementary.all %}
                          <tr>
                            <td>{{ complementary.date }}</td>
                            <td>{{ complementary.name }}</td>
                            <td>{{ complementary.description }}</td>
                            <td>{{ complementary.attached }}</td>
                            <td>
                              <i class="fa fa-trash fa-fw"></i>
                              <i class="fa fa-check fa-fw"></i>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
