{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Lista de Pacientes</h1>
    </div>
</div>
<div class="row pull-right">
    <a href="{% url 'clinic:register_patient' %}" class="btn btn-success btn-sm" role="button"><i class="fa fa-plus-circle"></i> Agregar Paciente</a>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
            {% if patient_list %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="20%">Nombre</th>                        
                        <th width="20%">Propietario</th>
                        <th width="20%">Especie</th>
                        <th width="20%">Raza</th>                        
                        <th width="10%">Sexo</th>
                        <th width="10%">Acciones</th>

                    </tr>
                </thead>
                <tbody>
                {% for patient in patient_list %}
                    <tr>
                        <td><a href="{% url 'clinic:patient_details' patient.pk %}">{{ patient.name }}</a></td>
                        <td><a href="{% url 'clinic:patient_details' patient.pk %}">{{ patient.owner }}</a></td>
                        <td><a href="{% url 'clinic:patient_details' patient.pk %}">{{ patient.specie }}</a></td>
                        <td><a href="{% url 'clinic:patient_details' patient.pk %}">{{ patient.breed }}</a></td>
                        <td>
                            {% if patient.gender == 'Hembra' %}
                                <i class="fa fa-venus"></i>
                            {% else %}
                                <i class="fa fa-mars"></i>
                            {% endif %}
                            {{ patient.gender }}
                        </td>
                        <td>                            
                            <form method="POST" action="{% url 'clinic:delete_patient' patient.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger btn-circle"><i class="fa fa-trash"></i></button>
                                <a href="{% url 'clinic:edit_patient' patient.pk %}"><i class="fa fa-pencil"></i></a>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
	</div>
</div>
{% endblock content %}