{% extends 'base.html' %}

{% block content %}

{% load bootstrap %}
<div class="col-lg-12">
    <h1 class="page-header">Agregar un nuevo Evento</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Complete los datos:
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Historia" data-toggle="tab">Consulta</a>
                    </li>
                    <li><a href="#Vacunas" data-toggle="tab">Vacunas</a>
                    </li>
                    <li><a href="#Desparasitaciones" data-toggle="tab">Desparasitaciones</a>
                    </li>
                    <li><a href="#Metodos_Complementarios" data-toggle="tab">Metodos Complementarios</a>
                    </li>
                    <li><a href="#Analisis_Clínicos" data-toggle="tab">Analisis Clínicos</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="Historia">                     
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">           
                                       <div class="panel-body">   
                                            <form method="POST" action=""> {% csrf_token %}             
                                                {{ form_consult|bootstrap }}
                                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Registrar</button>
                                                <button type="reset" class="btn btn-success">Limpiar</button>   
                                            </form>     
                                       </div>
                                       <div class="panel-footer">
                                            <a href="javascript:history.back()"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver</button></a>
                                       </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Vacunas">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">           
                                       <div class="panel-body">   
                                            <form method="POST" action=""> {% csrf_token %}             
                                                {{ form_vac|bootstrap }}
                                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Registrar</button>
                                                <button type="reset" class="btn btn-success">Limpiar</button>   
                                            </form>     
                                       </div>
                                       <div class="panel-footer">
                                            <a href="javascript:history.back()"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver</button></a>
                                       </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Desparasitaciones">
                        
                    </div>
                    <div class="tab-pane fade" id="Metodos_Complementarios">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-default">           
                                       <div class="panel-body">   
                                            <form method="POST" action=""> {% csrf_token %}             
                                                {{ form_complementary|bootstrap }}
                                                <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Registrar</button>
                                                <button type="reset" class="btn btn-success">Limpiar</button>   
                                            </form>     
                                       </div>
                                       <div class="panel-footer">
                                            <a href="javascript:history.back()"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver</button></a>
                                       </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Analisis_Clínicos">
                        
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>

{% endblock content %}