{% extends 'base.html' %}

{% block content %}
{% load bootstrap %}

<div class="col-lg-12">
    <h1 class="page-header">Desparasitación</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
            <div class="panel-heading">
                <i class="fa fa-archive fa-fw"></i> Complete los datos:
            </div>
            <div class="panel-body">
            <form method="POST" action="" role="form">
                {% csrf_token %}
                {{ form_complementary.non_field_errors }}
                {% for hidden in form_complementary.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            	<div class="row">
	            	<div class="col-xs-6 col-md-3">
                    {% include "forms/field.html" with field=form_complementary.date icon='calendar' %}
	            	</div>
	            	<div class="col-xs-6 col-md-9">
                    {% include "forms/field.html" with field=form_complementary.name %}
	            	</div>
            	</div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                    {% include "forms/field.html" with field=form_complementary.description %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                    {% include "forms/field.html" with field=form_complementary.attached %}
                    </div>
                </div>            	
            	<div class="row">
            		<div align="center">
            			<button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Registrar</button>
                		<button type="reset" class="btn btn-success">Limpiar</button>
                	</div>
                </div>
            </form>
            </div>
            <div class="panel-footer">
                <a href="javascript:history.back()"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver</button></a>
           </div>
		</div>
	</div>
</div>

{% endblock content %}
