{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
<!-- FullCalendar -->
<link href="{% static "css/fullcalendar.min.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "css/fullcalendar.print.css" %}" rel="stylesheet" media="print">
{% endblock extra_css %}

{% block content %}

<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>
            Calendar
            <small>
                Click to add/edit events
            </small>
        </h3>
      </div>

      <div class="title_right">
        <div class="col-md-4 col-sm-5 col-xs-12 form-group pull-right top_search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Aceptar</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Calendar Events <small>Sessions</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Settings 1</a>
                  </li>
                  <li><a href="#">Settings 2</a>
                  </li>
                </ul>
              </li>
              <li><a class="close-link"><i class="fa fa-close"></i></a>
              </li>
            </ul>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">

            <div id='calendar'></div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_jQuery %}
<!-- FullCalendar -->
<script src="{% static "js/moment.min.js" %}"></script>
<script src="{% static "js/fullcalendar.min.js" %}"></script>

<!-- FullCalendar -->
<script>
  $(window).load(function() {
    var date = new Date(),
        d = date.getDate(),
        m = date.getMonth(),
        y = date.getFullYear(),
        started,
        categoryClass;
    var calendar = $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      selectable: true,
      selectHelper: true,
      select: function(start, end, allDay) {
        $('#fc_create').click();
        started = start;
        ended = end;
        $(".antosubmit").on("click", function() {
          var title = $("#title").val();
          if (end) {
            ended = end;
          }
          categoryClass = $("#event_type").val();
          if (title) {
            calendar.fullCalendar('renderEvent', {
                title: title,
                start: started,
                end: end,
                allDay: allDay
              },
              true // make the event "stick"
            );
          }
          $('#title').val('');
          calendar.fullCalendar('unselect');
          $('.antoclose').click();
          return false;
        });
      },
      eventClick: function(calEvent, jsEvent, view) {
        $('#fc_edit').click();
        $('#title2').val(calEvent.title);
        categoryClass = $("#event_type").val();
        $(".antosubmit2").on("click", function() {
          calEvent.title = $("#title2").val();
          calendar.fullCalendar('updateEvent', calEvent);
          $('.antoclose2').click();
        });
        calendar.fullCalendar('unselect');
      },
      editable: true,
      events: [{
        title: 'All Day Event',
        start: new Date(y, m, 1)
      }, {
        title: 'Long Event',
        start: new Date(y, m, d - 5),
        end: new Date(y, m, d - 2)
      }, {
        title: 'Meeting',
        start: new Date(y, m, d, 10, 30),
        allDay: false
      }, {
        title: 'Lunch',
        start: new Date(y, m, d + 14, 12, 0),
        end: new Date(y, m, d, 14, 0),
        allDay: false
      }, {
        title: 'Birthday Party',
        start: new Date(y, m, d + 1, 19, 0),
        end: new Date(y, m, d + 1, 22, 30),
        allDay: false
      }, {
        title: 'Click for Google',
        start: new Date(y, m, 28),
        end: new Date(y, m, 29),
        url: 'http://google.com/'
      }]
    });
  });
</script>
{% endblock %}