{% extends 'base.html' %}

{% block content %}

{% load bootstrap %}
<div class="col-lg-12">
    <h1 class="page-header">{{ title }}</h1>
</div>
<div class="row">
    <div class="col-lg-12">
    	<div class="panel panel-info">
        	<div class="panel-heading">
                Complete los siguientes datos:
        	</div>
        	<div class="panel-body">
                {% if message %}
                <div class="col-lg-4 col-lg-offset-4 alert alert-success" align="center">
                    <p>{{ message }}</p><br>
                    <button type="button" class="btn btn-primary"><i class="fa fa-check"></i> Ok</button></a>
                </div>
                {% else %}
                <form method="POST" action=""> {% csrf_token %}
					   {{ form|bootstrap }}
                    <div align="center">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Registrar</button>
                        <button type="reset" class="btn btn-primary">Limpiar</button>
                    </div>
				</form>
                {% endif %}
        	</div>
            {% if message %}
            {% else %}
        	<div class="panel-footer">
                <div class="pull-rigth">
                     <a href="javascript:history.back()"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver</button></a>
                </div>
        	</div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
