{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12">
    <h1 class="page-header">{{ title }}</h1>
</div>
<div class="row">
    <div class="col-lg-12">
    	<div class="panel panel-info">
        	<div class="panel-heading">
                Agregar una nueva {{ var }}
        	</div>            
        	<div class="panel-body">
                {% if message %}
                <div class="col-lg-6 alert alert-success">
                    <p>{{ message }}</p>
                </div>
                {% else %}
                <form method="POST" action=""> {% csrf_token %}
					{{ form.as_p }}					
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Registrar</button>
				</form>
                {% endif %}
        	</div>
        	<div class="panel-footer">
                <div class="pull-rigth">
                     <a href="javascript:history.back()"><button type="button" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver</button></a>
                </div>
        	</div>            
        </div>
    </div>
</div>

{% endblock content %}