<div class="row">
  <div class="col-xs-6 col-md-6">
    <h4><small>Total de registros: {{ paginator.count }}</small></h4>
  </div>
  <div class="col-xs-6 col-md-6" align="right">
    <nav>
      <ul class="pagination pagination-sm">

        <!-- Paginator Clientes -->
        {% if list %}
          {% if list.has_previous %}
            <li>
              <a href="?page={{ list.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li>
              <a href="?page={{ list.previous_page_number }}">{{ list.previous_page_number }}</a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}
            <li class="active">
              <a href="#">{{ list.number }}</a>
            </li>
          {% if list.has_next %}
            <li>
              <a href="?page={{ list.next_page_number }}">{{ list.next_page_number }}</a>
            </li>
            <li>
              <a href="?page={{ list.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% else %}
            <li class="disabled">
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
