{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'finances:provider_list' %}">Proveedores</a></li>
          <li class="active"><i class="fa fa-truck"></i> {{ provider.name }}</li>
        </ol> 
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Detalle Proveedor</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-6">
	    <div class="panel panel-success">
	        <div class="panel-heading">
	            <strong>Proveedor: </strong> {{ provider.name }}
	        </div>
	        <div class="panel-body">
	        	{% for address in provider.addresses.all %}
                	<strong>Domicilio: </strong>{{ address.address }}, {{ address.city }}<br>
                {% endfor %}
	        	<strong>Telefono: </strong>{{ provider.phone }}<br>                
	            <p><strong>email: </strong>{{ provider.email }}</p>
	            <div class="pull-right">
	            	<a href="{% url 'finances:edit_provider' provider.pk %}" class="btn btn-success btn-xs" role="button"><i class="fa fa-plus-circle"></i> Modificar</a>
	            </div>
	        </div>
	    </div>
	</div>	
</div>

<div class="row">
	<div class="col-lg-12">
	    <div class="panel panel-info">
	        <div class="panel-heading">
	            Movimientos
	        </div>
	        <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th width="10%">Fecha</th>
                  <th width="30%">Producto</th>
                  <th width="15%">Cantidad</th>
                  <th width="15%">Precio</th>
                  <th width="10%">Forma de pago</th>
                </tr>
              </thead>
              <tbody>
                {% for purchases in provider.purchases.all %}
                <tr>
                  <td>{{ purchases.date }}</td>
                  <td>{{ purchases.item }}</td>
                  <td>{{ purchases.cant }}</td>
                  <td>$ {{ purchases.item.price }}</td>
                  <td>{{ purchases.pay_type }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
	        </div>
	    </div>
	</div>
</div>

{% endblock content %}